.dash-tile-icon {
    font-size: 4.5em;
}

.card-header {
    color: white !important;
}

.sectionBorder {
    box-shadow: rgba(0, 0, 0, 0.4) 0 0px 10px;
    border-radius: 8px;
}

.control-error {
    color: red;
    font-size: 0.9em;
}